<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Contato</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Painel</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Contato</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">

    <div class="row">
        <div class="col-lg-12">
            <div class="mail-box-header">
                <h2>
                    Inbox (16)
                </h2>
                <div class="mail-tools tooltip-demo m-t-md">
                    <div class="btn-group float-right">
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
                        <button class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>
                    </div>

                    &nbsp;

                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left"
                        title="Refresh inbox"><i class="fa fa-refresh"></i> Refresh</button>
                    &nbsp;
                    <button class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="left"
                        title="Refresh inbox"><i class="fa fa-email"></i> Novo contato</button>
                </div>
            </div>
            <div class="mail-box">

                <table class="table table-hover table-mail">
                    <tbody>
                        <tr class="unread" *ngFor="let item of [0,1,2]">
                            <td class="check-mail">
                                <input type="checkbox" class="i-checks">
                            </td>
                            <td class="mail-ontact"><a href="mail_detail.html">Facebook</a> &nbsp;<span
                                    class="label label-info float-right">Clients</span> </td>
                            <td class="mail-subject"><a href="mail_detail.html">Many desktop publishing packages and web
                                    page editors.</a></td>
                            <td class=""></td>
                            <td class="text-right mail-date">Jan 16</td>
                            <td class="text-right mail-date"><button class="btn btn-sm btn-white"
                                    data-toggle="tooltip" data-placement="left" title="Refresh inbox"><i
                                        class="fa fa-email"></i> Responder</button></td>
                        </tr>
                    </tbody>
                </table>


            </div>
        </div>
    </div>


</div>

<script>
    $(document).ready(function () {

        $('.footable').footable();

        $('#date_added').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });

        $('#date_modified').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });

    });

</script>